/* Global styles
================================================== */

a {
    color: #89abe3ff;
}

a.read-more:hover {
    color: #327cbc;
}

/* Typography
================================================== */

.btn.btn-primary {
    border: 2px solid #89abe3ff;
}

.btn.btn-primary:hover {
    background: #89abe3ff;
}

.btn.btn-primary.solid {
    background: #89abe3ff;
}

ul.circle li:before {
    color: #89abe3ff;
}

ul.check-list li i {
    color: #89abe3ff;
}

blockquote {
    border-left: 5px solid #89abe3ff;
}

/* Common styles
================================================== */

.heading:hover .title-icon {
    color: #89abe3ff;
}

h2.entry-title a:hover {
    color: #89abe3ff;
}

/* Icon pentagon */

.icon-pentagon {
    background: none repeat scroll 0 0 #89abe3ff;
}

.icon-pentagon:before {
    border-bottom: 10px solid #89abe3ff;
}

.icon-pentagon:after {
    border-top: 10px solid #89abe3ff;
}

.service-icon:before {
    border-bottom: 30px solid #89abe3ff;
}

.service-icon:after {
    border-top: 30px solid #89abe3ff;
}

/* Carousel controller */

.ts-carousel-controller .left:hover,
.ts-carousel-controller .right:hover,
.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover {
    background: #89abe3ff;
}

/* Input form */

.form-control:focus {
    border: 1px solid #89abe3ff !important;
}

/* Flex Slider */

.portfolio-slider .flex-direction-nav a:hover,
.ts-flex-slider .flex-direction-nav a:hover {
    background: #89abe3ff;
}

/* Pagination */

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > li > a:hover {
    background: #89abe3ff;
}

/* Header area
================================================== */

/*-- Header --*/
.header {
    border-top: 5px solid #89abe3ff;
}

.header-solid ul.navbar-nav > li:hover > a,
.header-solid ul.navbar-nav > li.active > a {
    color: #89abe3ff;
}

/*-- Logo --*/

.navbar-brand.navbar-bg {
    background: #89abe3ff;
}

/*-- Main navigation --*/

ul.navbar-nav > li:hover > a,
ul.navbar-nav > li.active > a {
    color: #89abe3ff;
}

.navbar-toggle {
    background: #89abe3ff;
}

.dropdown-menu > ul > li.active > a {
    color: #89abe3ff;
}

.dropdown-menu > ul > li > a:hover,
.dropdown-menu > ul > li > a:focus {
    color: #89abe3ff;
}

/* Header area - 2
================================================== */

/*-- Header bgnone fixed --*/

.header-bgnone {
    background: #89abe3ff;
}

/* Slideshow
================================================== */

/*-- Main slide --*/

#main-slide .carousel-indicators li.active,
#main-slide .carousel-indicators li:hover {
    background-color: #89abe3ff;
}

#main-slide .carousel-control i:hover {
    background: #89abe3ff;
}

/* Image Block
================================================== */

.image-block-content .feature-icon {
    background: #89abe3ff;
}

/* Portfolio
================================================== */

.isotope-nav ul li a {
    border: 1px solid #89abe3ff;
}

.isotope-nav ul a.active,
.isotope-nav ul a:hover {
    background: #89abe3ff;
}

.isotope-nav ul a.active:after,
.isotope-nav ul a:hover:after {
    border-color: #89abe3ff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

/* Feature box
================================================== */
.feature-icon {
    color: #89abe3ff;
}

.feature-center-icon {
    color: #89abe3ff;
}

/* About us
================================================== */

/* Featured Tab */

.featured-tab .nav-tabs > li.active > a {
    background: #89abe3ff;
}

.featured-tab .nav-tabs > li.active > a:after {
    border-left-color: #89abe3ff;
}

.featured-tab .nav-tabs > li > a:hover {
    background: #89abe3ff;
    color: #fff;
}
.featured-tab .nav-tabs > li > a:hover:after {
    border-left-color: #89abe3ff;
}

/* Pricing table
================================================== */

.plan.featured .plan-price {
    background: #89abe3ff;
}
.plan.featured .plan-price:after {
    border-top-color: #89abe3ff;
}

/* Testimonial
================================================== */

.testimonial-slide .testimonial-text:before {
    color: #89abe3ff;
}

.testimonial-slide .testimonial-text:after {
    color: #89abe3ff;
}

.testimonial-slide.owl-theme .owl-controls .owl-page.active span {
    background: #89abe3ff;
}

/* Recent Post
================================================== */

.post-img-overlay a:hover {
    background: #89abe3ff;
}

/* Footer
================================================== */

.copyright-info a:hover {
    color: #89abe3ff;
}

.footer2 .copyright-info a {
    color: #89abe3ff;
}

#back-to-top .btn.btn-primary:hover {
    background: #89abe3ff;
}

.footer-about-us h4 {
    color: #89abe3ff;
}

.footer-widget .latest-post-content h4 a:hover {
    color: #89abe3ff;
}

.subscribe button {
    background: #89abe3ff;
}

/* Blog Item page
================================================== */

.post-meta a:hover {
    color: #89abe3ff;
}

.author-url span a:hover {
    color: #89abe3ff;
}

.comments-counter a:hover {
    color: #89abe3ff;
}

.comments-list .comment-reply:hover {
    color: #89abe3ff;
}

/*-- Blog sidebar --*/

.widget-tab h4.entry-title a:hover {
    color: #89abe3ff;
}

.widget-tags ul > li a:hover {
    background: #89abe3ff;
}

/* Landing page
================================================== */

.landing-header.header-bgnone ul.navbar-nav > li:hover > a,
.landing-header.header-bgnone ul.navbar-nav > li.active > a {
    color: #89abe3ff;
}

.features-content .features-icon {
    color: #89abe3ff;
}

.landing_facts {
    background: #89abe3ff;
}

.landing-tab .nav-tabs > li.active {
    border-right: 5px solid #89abe3ff;
}

.landing-tab .nav-tabs > li.active > a i {
    color: #89abe3ff;
}

.landing-tab .nav-tabs > li > a:hover {
    color: #89abe3ff !important;
}

.landing-tab .tab-pane i.big {
    color: #89abe3ff;
}

.app-gallery.owl-theme .owl-controls .owl-page.active span {
    background: #89abe3ff;
}

.landing_page_clients {
    background: #89abe3ff;
}

/* Misc */

.title-border {
    border-bottom: 2px solid #89abe3ff;
}

.post-title a:hover {
    color: #89abe3ff;
}

.portfolio-static-desc a:hover {
    color: #89abe3ff;
}

.client-carousel .item a:hover {
    border: 1px solid #89abe3ff;
}

.footer ul li a:hover {
    color: #89abe3ff;
}

.call-to-action {
    background: #89abe3ff;
}

.blog-date {
    background: #89abe3ff;
}

.widget-categories ul.category-list li a:hover {
    color: #89abe3ff;
}

.about-message ul li a:hover {
    color: #89abe3ff;
}
